*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: black

}
.navbar{
    background-color:black;
    width: 100%;
    min-height: 100%;
}
.container
{
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.sub-container1{
    color: white;
}
.sub-container ul
{
    list-style: none;
}
.sub-container ul li
{
    margin-left: 61px;
}
.sub-container ul li::after{
    transition: 0.5s;

}


.sub-container1 ul{
    display: flex;
    list-style: none;

}
.sub-container1 ul li{
    margin-left: 26px;
    margin-right: 68px;
}
.cols
{
    width: 100%;
}
.headline{
  
    font-size: 90px;
    margin-left: 61px;
    margin-top: 89px;
    color: white;
}
.para
{
    margin-left: 61px;
    color: white;
}
button{
    background-color:white;
}
#btn{
    margin-left: 61px;
    margin-top: 50px;
    width: 10%;
    min-height: 50px;
    border-radius: 20px;
    font-size: 15px;
    
    
}
.fa-solid{
    margin-left: 10px;
    align-items: center;
    
}

.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;
}
.video-container p{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    color: white;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.row1 img{
    width: 400px;
    margin-left: 61px;
}
.container2 p{
    margin-right: 61px;
    color: white;
}
 .container2 #btn{
    width: 130px;
 }
